body {
  margin: 0px;
}

footer {
    color: floralwhite;
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

footer p {
  background-color: Darkblue;
  font-family: monospace;
  font-style: normal;
  font-size: 14px;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

header {
  background-color: aliceblue;

  padding: 10px;
  display: block;
}

table {
  width: 100%;
  border-spacing: 0px
}

.title, .author, .genre, .quantity {
  margin: 3px;
  display: inline;
}

.button {
  margin: 15px 0px 10px 47%;
}

.bottom-button {
  margin-top: 10px;
  margin-left: 47%;
  margin-bottom: 40px;
}

.row {
  text-align: center;
}

.row:nth-child(odd) {
  background-color: aliceblue;
}

.row:nth-child(even){
  background-color: #b0d6f7;
}

thead {
  background-color: cornflowerblue;
}

th, td {
  padding: 8px 0px;
  border: 1px solid #adadad;
}

p {
  margin: 0px;
}

tr {
  filter: blur(0.001em);
}


@keyframes addEffect {
  from {
    filter: blur(5em);
  }
  to {
    filter: blur(0);
  }
}

@keyframes deleteEffect {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(2em);
  }
}

.add {
  animation: addEffect;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.delete {
  animation: deleteEffect;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
